/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0px;
}

nav {
	background-color: #F6F6F6;
	border: 2px solid #0060A0;
}

/* images */
header img {
	float: left;
	margin: 5px;
}


/* text */

header h1 {
	font-size: 50px;
	background-color: #0060A0;
	color: white;
	line-height: 1.5em;
}


/* lists */



/* table */



/* forms */



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

